.mainContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
}

.mainLoading {
    min-height: 85vh;
    width: 25vh;
    margin: 0 auto;
}

.loading {
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}